.images-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
        .images-bottom1 { 
            grid-area: 1 / 1 / 2 / 2;
            
        }

        .images-bottom2 { 
            grid-area: 1 / 2 / 2 / 3;
          
        }

        .images-bottom3 { 
            grid-area: 1 / 3 / 2 / 4; 
           
        }

        .images-bottom4 {
            grid-area: 1 / 4 / 2 / 5; 
           
        } 

.fit{
    width: 100%;
    height: 100%;
}