.clients{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5em;
}

@media only screen and (max-width: 1000px){
    .clients {
        display: block;
        padding: 0;
    }
   }
