@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

body{
  width: 100%;
}

.top-bg{
  background: url("./Commponent/Assets/image-header.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.top-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-conntent{
  background-color: hsl(168, 34%, 41%);
}